@use './variables';

// contact general styles
.contactPage{
    background-color: variables.$white;
    display: flex;
    background-color: variables.$iceBlue;
    height: 50vh;
}

// main flexbox styling for the form
.formBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 3%;
    background-color: variables.$blue;
    box-shadow: 20px 20px variables.$yellow;
    height: 50vh;
    width: 50%;
    padding: 20px;
    button{
        margin-top: 10px;
    }
}

.infoCon{
    padding: 5.6%;
    padding-left: 16%;
    .emailText{
        margin: 15px;
    }
}

input{
    background-color: transparent;
    width: 45%;
    border: none;
    border-bottom: 2px solid variables.$yellow;

}

textArea{
    background-color: transparent;
    border: 2px solid variables.$yellow;
}
// for the icons
i {
    color: variables.$blue;
    margin: 10px 0;
    margin-right: 15px;
}

#email, #name, #message{
    padding: 20px;
    margin-top: 20px;
}