@use "./variables";

// general styles

// wrapper styles
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
}

img{
    max-width: 100%;
    display: block;
  }

// button styles

button{
  color: variables.$blue;
  background-color: variables.$yellow;
  font-family: variables.$font1;
}

// was having problems getting a circle icon to work

// .circleIcon {
//   // height: 50;
//   min-width: 50px;
//   background-color: variables.$yellow;
//   border-radius: 50%;
//   position: relative;
//   margin-right: 15px;
//   i {
//     position: absolute;
//     top: 10px;
//     right: 5px;

//   }
// }

// icon styles
i.fa-users {
  color: variables.$blue;
  left: 7px;
  top: 1px;
}

i.fa-map-marker-alt {
  left: 14px;
  top: 1px;
  color: variables.$blue;
}

i.fa-sticky-note {
  left: 14px;
  top: 1px;
  color: variables.$blue;
}

i.fa-phone {
  left: 10px;
  top: 1px;
  color: variables.$blue;
}