@use './variables';

header{
    height: 50vh;
    width: 100%;
    // background-image: url(./assets/home-header);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: variables.$blue;
    h1{
        font-size: 79px;
        text-transform: uppercase;
    }
}

