@use './variables';

// nav general settings
.headerNav{
    display: flex;
    flex-direction: row;
    font-family: variables.$font2;

    li{
        padding: 1rem;

        a{
            color: variables.$white;
            border-bottom: 1px solid variables.$blue;
            // hover and focus styles for accessability
            &:hover{
                border-bottom: 1px solid variables.$white;
            }
            &:focus{
                border-bottom: 1px solid variables.$white;
            }
        }
    }
}