@use './variables';

// first gallery general styles
.gallery1 {
    background-color: variables.$blue;
    height: 100vh;
}

// main flex box
.gallery1Flex {
    display: flex;
    justify-content: space-between;

    div{
        width: 40%;
    }
}

// targetting every image container

.gal1ImgCon1 {
    box-shadow: 10px 10px variables.$yellow;

}

.gal1ImgCon2 {
    box-shadow: 10px 10px variables.$yellow;
    position: relative;
    bottom: 40px;
}

// first text container
.gal1TextCon1{
    text-align: right;
}


.gal1TextCon2{
    text-align: right;
}