@use './variables';

.aboutFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutItem{
    width: 40%;
    margin: 20px;
}

.homeImg{
    position: absolute;
    top: 250px;
    right: 0;
    width: 50%;
}