@use './variables';

// vacation section general styles
.vacation {
    background-color: variables.$iceBlue;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;

    
    .vacationBox {
        
        h2{
            color: variables.$blue;
            margin-top: 0;
        }
    }

}