@use './variables';

html {
    /* if we set our root element font-size to 125%, then 1 rem = 20px */
    font-size: 125%;
}

body {
    font-family: variables.$font1;
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-family: variables.$font1;
    font-weight: normal;
    color: variables.$yellow;
}

h1 {
    font-size: 1.4rem;
    font-family: variables.$font1;
    font-weight: normal;
    color: variables.$yellow;
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 18px;
}

h3 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-bottom: 24px;
}

p {
    line-height: 1.5rem;
}

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}