
// colour variables

$iceBlue: #EAFEFC;
$yellow: #fdd908;

// font variables


$blue: #0d457f;
$white: #ffffff;
$font1: 'IM Fell English', serif;
$font2:'Roboto', sans-serif;

// $: ;
// $: ;
// $: ;
